<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav m-auto">
        <li class="nav-item m-1">
          <a class="nav-link btn btn-sm btn-outline-secondary" routerLink="/people">People</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link btn btn-sm btn-outline-secondary" routerLink="/planets">Planets</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link btn btn-sm btn-outline-secondary" routerLink="/films">Films</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link btn btn-sm btn-outline-secondary" routerLink="/species">Species</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link btn btn-sm btn-outline-secondary" routerLink="/starships">Starships</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link btn btn-sm btn-outline-secondary" routerLink="/vehicles">Vehicles</a>
        </li>
      </ul>
    </div>
  </div>
</nav>